@{
    ViewBag.Title = "List";
}

<div class="col-md-5">
    <div id="index-projectstatus">
        @{Html.RenderAction("List");}
    </div>
</div>

<div class="col-md-7">
    <div id="edit-projectstatus">
    </div>
</div>
