@{
    ViewBag.Title = "Project Statuses ";
}
@Styles.Render("~/Content/bootstrap-toggle.min.css")
@Scripts.Render("~/Scripts/bootstrap-toggle.min.js")



<div class="row">
    <div id="index-projectstatus" class="col-md-4">
        @{Html.RenderAction("List");}
    </div>


    <div id="edit-projectstatus" class="col-md-7 pull-right">

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-12">
                <div id="success-alert" class="alert alert-success alert-dismissible fade in" role="alert">
                    <strong>Saved</strong>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".alert").hide();
    });
</script>


