@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>COLEO</h1>
    <p class="lead">Coleo is the application where you can track your projects, issues, and their outcome in the most easy and friendly way</p>
</div>

<div>
    <div class="form-group row">
        <div class="col-md-12">
            <div class="form-group row split-columns">
                <ul>
                    <li class="tile">
                        <h4 title="Projects" class="title tile-describe add-tooltip"> Projects </h4>
                        <div title="Edit" class="glyphicon-md pull-right add-tooltip" onclick="location.href='@Url.Action("Index","Projects")'">
                            <span class="glyphicon glyphicon-edit"></span> &nbsp;
                        </div>
                    </li>
                    <li class="tile">
                        <h4 title="Project statuses" class="title tile-describe add-tooltip"> Project statuses </h4>
                        <div title="Edit" class="glyphicon-md pull-right add-tooltip" onclick="location.href='@Url.Action("Index","ProjectStatus")'">
                            <span class="glyphicon glyphicon-edit"></span> &nbsp;
                        </div>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
</div>
