@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>COLEO</h1>
    <p class="lead">Coleo is the application where you can track your projects, issues, and their outcome in the most easy and friendly way</p>
</div>
