
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div id="index-project" class="col-md-5">
        @{Html.RenderAction("List");}
    </div>


    <div id="edit-project" class="col-md-7">

    </div>
</div>
<script>
    
</script>