@{
    ViewBag.Title = "Filters";
}

<div class="form-group">
    <div class="col-md-12">
        <div class="tile">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon">
                    <div>
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                </span>
            </div>
        </div>

    </div>
</div>

<div class="form-group">
    <div class="col-md-12">
        <div class="tile tile-push" onclick="ShowList(divList, 'Order')">
            <h4 class="title">My order</h4>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-12">
        <div class="tile tile-push" onclick="ShowList(divList,'Name')">
            <h4 class="title">Name</h4>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-12">
        <div class="tile tile-push" onclick="ShowList(divList, 'OrderStatus')">
            <h4 class="title">Status</h4>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-12">
        <div class="tile tile-push" onclick="ShowList(divList,'Color')">
            <h4 class="title">Color</h4>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-12">
        <div class="tile tile-push" onclick="ShowList(divList,'DateCreated')">
            <h4 class="title">Date</h4>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-12">
        <div class="tile tile-push" onclick="ShowList(divList, 'OrderParent')">
            <h4 class="title">Parent project</h4>
        </div>
    </div>
</div>