body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.cnavbar {
    background-color: #f7e6c5;
    filter: brightness(85%);
    min-height: 30px;
    padding: 5px;
}

.cbody {
    background-color: #f7e6c5;
}

.margin-top-20 {
    margin-top: 20px;
}


/*tile settings*/
/*$base_font_size: 14px;
$base_line_height: 1.5em;
$text_font_family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$display_font_family:*/

.tile {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #f5db80;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.tile-push {
    cursor: pointer;
}

    .tile-push:hover {
        -webkit-transform: scale(1.05);
    }

    .tile-push:active {
        -webkit-transform: scale(1);
    }

.tile .title {
    margin-top: 0px;
    font-weight: 400;
}

.tile h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5em;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tile h4 {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}


.glyphicon-md {
    font-size: 1.3em;
    padding: 2px;
}

    .glyphicon-md:hover {
        -webkit-transform: scale(1.05);
    }

.glyphicon-lg {
    font-size: 1.9em;
    opacity: 0.7;
    text-align: center;
}


.add-tooltip {
    cursor: pointer;
}
/* https://codepen.io/anon/pen/MJKyPm */

[data-notify="container"] {
    width: 15%;
}

.box {
    border: solid 1px #f5db80;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.margin-left-20 {
    margin-left: 20px;
}

.padding-3 {
    padding: 3px;
}

.split-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; /*3 is just placeholder -- can be anything*/
}

    .split-columns li {
        display: inline-block;
    }

.sortable-list {
    padding: 0px;
}


/*Hover Fall Effect*/
.fall-item {
    /*width: 100%;*/
    height: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 5px;
}

    .fall-item .mask, .fall-item .content {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
    }

    .fall-item .fall-content {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .fall-item .mask h3 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        padding: 10px;
        background: rgba(0, 0, 0,0.8);
        margin: 0 0 0 0;
    }

    .fall-item p {
        font-style: italic;
        position: relative;
        color: #fff;
        padding: 10px 20px 20px;
        text-align: center;
    }

.fall-effect .mask {
    background-color: rgba(255, 255, 255, 1);
    top: -200px;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0.3s;
    -moz-transition: all 0.3s ease-out 0.3s;
    -o-transition: all 0.3s ease-out 0.3s;
    -ms-transition: all 0.3s ease-out 0.3s;
    transition: all 0.3s ease-out 0.3s;
}

    .fall-effect .mask h3 {
        -webkit-transform: translateY(-200px);
        -moz-transform: translateY(-200px);
        -o-transform: translateY(-200px);
        -ms-transform: translateY(-200px);
        transform: translateY(-200px);
        -webkit-transition: all 0.2s ease-in-out 0.1s;
        -moz-transition: all 0.2s ease-in-out 0.1s;
        -o-transition: all 0.2s ease-in-out 0.1s;
        -ms-transition: all 0.2s ease-in-out 0.1s;
        transition: all 0.2s ease-in-out 0.1s;
    }

.fall-effect p {
    color: #333;
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out 0.2s;
    -moz-transition: all 0.2s ease-in-out 0.2s;
    -o-transition: all 0.2s ease-in-out 0.2s;
    -ms-transition: all 0.2s ease-in-out 0.2s;
    transition: all 0.2s ease-in-out 0.2s;
}

.fall-effect:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0px;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}

.fall-effect .mask:hover h3 {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.fall-effect:hover p {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
