body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.cnavbar {
    background-color: #f7e6c5;
    filter: brightness(85%);
    min-height: 30px;
    padding: 5px;
}

.cbody {
    background-color: #f7e6c5;
}

.margin-top-20 {
    margin-top: 20px;
}


/*tile settings*/
/*$base_font_size: 14px;
$base_line_height: 1.5em;
$text_font_family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$display_font_family:*/

.tile {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #f5db80;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    word-wrap: break-word;
}

.tile-push:hover {
    -webkit-transform: scale(1.05);
}

.tile-push:active {
    -webkit-transform: scale(1);
}

.tile .title {
    margin-top: 0px;
    font-weight: 400;
}

.tile h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5em;
    font-weight: 300;
}

.tile h4 {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}


.glyphicon-md {
    font-size: 1.3em;
    padding: 2px;
}

.glyphicon-lg {
    font-size: 1.9em;
    opacity: 0.7;
    text-align: center;
}


.add-tooltip {
    cursor: pointer;
}
/* https://codepen.io/anon/pen/MJKyPm */

[data-notify="container"] {
    width: 15%;
}

.box {
    border: solid 1px #f5db80;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.margin-left-20 {
    margin-left: 20px;
}
