@model ColeoWeb.Models.FileViewModel

<li class="tile">
    @using (Html.BeginCollectionItem("File"))
    {
        @Html.HiddenFor(m => Model.Id)
    <div title="Delete" class="glyphicon-md pull-right add-tooltip" onclick="DeleteFile(@Model.Id, alertDeleteSucces, alertDeleteError)">
        <span class="glyphicon glyphicon-floppy-remove"></span> &nbsp;
    </div>
        <h5 class="title"> @Html.DisplayFor(m => Model.LocalName) </h5>
    }
</li>