@model IEnumerable<ColeoWeb.Models.FileViewModel>

<div class="col-md-12">
    <div class="form-group row">
        <ul>
            @{
                foreach (var item in Model)
                {
                    @Html.Partial("ItemFile", item);
                }
            }
        </ul>
    </div>

</div>

