@{
    ViewBag.Title = "Select file";
}

<div class=" form-group row">
    <div class="col-md-12">
        <h4>Select File</h4>
        <input id="select-file" name="fileUpload" type="file" multiple class="file-loading">
        <div id="errorBlock" class="help-block"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#select-file").fileinput({
            uploadUrl: '@Url.Action("UploadFile")',
            //maxFilePreviewSize: 100200,
            multiple: true,
            uploadAsync: true,
            maxFileCount: 10,
            overwriteInitial: false,
            initialPreviewAsData: true,
            showUploadedThumbs: false,
        });
        @*.fileinput({
            showCaption: true,
            showPreview: true,
            showUploadedThumbs: false,
            @*uploadUrl: @Url.Action("UploadFile"),* @
            maxFilePreviewSize: 10240,
            allowedFileTypes: ['image', 'html', 'text', 'video', 'audio', 'flash', 'object']
        });*@
    });

    $('#select-file').on('filesuccessremove', function (event, key) {
        console.log('Key = ' + key);
    });
</script>